<div class="main">

    <div class="cards">
        <h1>Garantia Automoviles Nuevos:</h1>
        <div class="cardsAcostados">
          <div class="card">
            <img src="/g1n.avif" alt="Promociones CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EXTIENDE UN ANO MAS TU GARANTIA DE 3 ANOS .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/g2n.avif" alt="Asesoramiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EXTIENDE DOS ANOS MAS TU GARANTIA DE 3 ANOS .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/g3n.jpeg" alt="Financiamiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EXTIENDE TRES ANOS MAS TU GARANTIA DE 3 ANOS .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
        </div>
      </div>
</div>