<div class="total">
    <div class="img">
        <img src="/after1.jpg" width=" 900px" alt="">
    </div>
    <div class="texto"> 
        <h1>Accesorios</h1>
        <p>Eleva el carácter deportivo de tu CUPRA con accesorios que marcan la diferencia. Desde detalles en fibra de carbono que acentúan su agresividad hasta llantas de diseño exclusivo que imponen presencia en el asfalto. Personaliza tu máquina con elementos que reflejen tu espíritu audaz y pasional por la conducción</p>
        
    </div>
   

</div>

