<div class="mantenimiento2">
    <div class="img">
        <img src="/mantenimiento2.jpg" width="700px" height="350px" alt="">

    </div>
    <div class="texto">
        <h4 >Proteccion y Mantenimiento Exterior</h4>
    <p>Protege y realza la belleza de tu vehículo con nuestros servicios de pulido y aplicación de PPF (Película de Protección de Pintura). El pulido profesional elimina imperfecciones, devolviendo un brillo espectacular a la pintura. El PPF, una capa transparente y resistente, actúa como un escudo invisible contra rayones, golpes de piedras y otros daños, preservando el valor y la estética de tu auto por más tiempo. ¡Invierte en la protección definitiva y disfruta de un coche siempre impecable!</p>
    <button >Agenda una Cita</button>
    </div>
    
</div>
<div class="fade-div">

</div>