<div class="total">
    <div class="texto"> 
        <h4>Agenda tu serivicio Preventivo mecanico</h4>
        <p>Invierte en la tranquilidad y eficiencia de tus equipos con nuestro servicio de mantenimiento preventivo. Anticipa fallos, reduce costos de reparación inesperados y prolonga la vida útil de tus activos. Un programa proactivo asegura un funcionamiento óptimo, mayor seguridad y minimiza las interrupciones, permitiéndote enfocarte en lo que realmente importa. ¡Contáctanos y descubre los beneficios de un cuidado inteligente y planificado!</p>
        <button>Agenda una Cita</button>
    </div>
    <div class="img">
        <img src="/mantenimiento1.webp" alt="">
    </div>

</div><div class="fade-div">

</div>
