<div class="main">

    <div class="cards">
        <h1>Contrata el seguro de tu carro en esta agencia Cupra:</h1>
        <div class="cardsAcostados">
          <div class="card">
            <img src="/HDI-Seguros.jpg" alt="Promociones CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">Protege tu CUPRA con la solidez y experiencia de HDI Seguros, tu tranquilidad es nuestra prioridad.</p>
              <a href="#" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/logo-Chubb.jpg" alt="Asesoramiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">Con Chubb Seguros, disfruta de una cobertura premium diseñada para los conductores más exigentes.  .</p>
              <a href="#" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/Logo-AXA.png" alt="Financiamiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">AXA Seguros te ofrece soluciones integrales para que vivas la emoción CUPRA con total confianza..</p>
              <a href="#" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
        </div>
      </div>
</div>