<div class="cards">
    <h1>CUPRA CERCA DE TI:</h1>
    <div class="cardsAcostados">
      <div class="card">
        <img src="/promociones.webp" alt="Promociones CUPRA" class="card-img">
        <div class="card-body">
          <p class="card-text">Consulta todas y cada una de nuestras promociones al dar click.</p>
          <a href="#" routerLink="/after" class="card-btn">Ver promociones</a>
        </div>
      </div>
      <div class="card">
        <img src="/asesoramiento.jpeg" alt="Asesoramiento CUPRA" class="card-img">
        <div class="card-body">
          <p class="card-text">Tenemos un vehículo específico para ti. Da click y uno de nuestros agentes te asesorará.</p>
          <a href="#" routerLink="/atencion" class="card-btn">Solicitar asesoría</a>
        </div>
      </div>
      <div class="card">
        <img src="/financiamento.webp" alt="Financiamiento CUPRA" class="card-img">
        <div class="card-body">
          <p class="card-text">Cotiza cualquier crédito para adquirir tu nuevo CUPRA.</p>
          <a href="#" class="card-btn" routerLink="/financiero">Cotizar financiamiento</a>
        </div>
      </div>
    </div>
  </div>