
<div class="todo">
    <div class="total">
    
        <div class="carros">
         <div class="img">
             <img src="/after2.jpeg" width=" 450px" alt="">
         </div>
         <div class="texto"> 
             <h4>Accesorios para tu Ateca</h4>
             <p>Acentúa la versatilidad deportiva de tu CUPRA Ateca con accesorios diseñados para integrarse a la perfección con su espíritu aventurero. Desde barras de techo robustas para tus escapadas hasta protectores de maletero que combinan funcionalidad y estilo. Personaliza tu SUV con detalles que realcen su carácter dinámico y te preparen para cualquier camino.</p>        
             <a href="#" class="boton-enlace">Solicitar Catalogo</a>
         </div>
        </div>
         <div class="carros">
             <div class="img">
                 <img src="/after3.jpg" width=" 450px" alt="">
             </div>
             <div class="texto"> 
                 <h4>Accesorios para tu Formentor</h4>
                 <p>Esculpe aún más la audacia de tu CUPRA Formentor con accesorios que realzan su diseño vanguardista. Detalles aerodinámicos que intensifican su silueta coupé, iluminación ambiental que envuelve el interior con un aura deportiva y elementos de personalización que reflejan tu individualidad. Haz que cada viaje sea una declaración de intenciones.</p>            
                 <a href="#"  class="boton-enlace">Solicitar Catalogo</a>
     
             </div>
         </div>
     </div>
     <div class="subtitle">
         <h3>Promociones Vigentes:</h3>
     </div>
     
     <div class="total promos">
         <div class="carros tarjeta">
             <div class="img">
                 <img src="/bono.jpg" height="200px" alt="">
             </div>
             <div class="texto"> 
                 <h4>Bonos de descuento directo</h4>
                 <p>Llévate hoy mismo tu nuevo auto con un bono de descuento increíble de hasta 30,000 pesos. ¡Es la oportunidad perfecta para estrenar ese modelo que tanto te gusta con un ahorro significativo en el precio final!</p>
                 <a href="#"  routerLink="/atencion"  class="boton-enlace gold">Contactar a un asesor</a>
             </div>
         </div>
         <div class="carros tarjeta">
             <div class="img">
                 <img src="/financiamiento.jpeg" height="200px" alt="">
             </div>
             <div class="texto"> 
                 <h4>Planes de financiamiento con tasas preferenciales</h4>
                 <p>Facilitamos tu camino hacia tu próximo vehículo con nuestros planes de financiamiento exclusivos. Aprovecha tasas de interés preferenciales, diseñadas para que las mensualidades se ajusten a tu presupuesto.</p>
                 <a href="#" routerLink="/atencion" class="boton-enlace gold">Contactar a un asesor</a>
             </div>
         </div>
         <div class="carros tarjeta">
             <div class="img">
                 <img src="/segurogratis.png" height="200px" alt="">
             </div>
             <div class="texto"> 
                 <h4>Paquetes de valor agregado</h4>
                 <p>Te regalamos el primer año de seguro o incluimos los primeros 2 servicios de mantenimiento sin costo. ¡Conduce con respaldo desde el primer día!</p>
                 <a href="#" routerLink="/atencion" class="boton-enlace gold">Contactar a un asesor</a>
             </div>
         </div>
     </div>
</div>