<app-buscador (textoBuscado)="actualizar($event)"></app-buscador>
<section class="catalogo">
  @if(CarrosUsados.length!= 0){
    @for(cu of CarrosUsados;track cu ;let i=$index){
      <div class="car-card" (click)="verDetalles(i)">
          <div class="img-container">
            <img src="{{cu.image}}" alt="">
          </div>
          <div class="info">
            <h2>{{cu.marca}}  {{cu.modelo}} {{cu.version}}</h2>
            <p>{{cu.ano}}</p>
            
            <p>${{cu.valor}}</p>
            <button>Ver más</button>
          </div>
        </div>
  }
  }@else{
    <h4 class="vacio">No contamos con ese vehiculo </h4>
  }
    
</section>