<div class="main">

    <div class="cards">
        <h1>Garantia Automoviles Usados:</h1>
        <div class="cardsAcostados">
          <div class="card">
            <img src="/g1u.jpg" alt="Promociones CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EXTIENDE DOS MESES  TU GARANTIA TOTAL SOBRE TU VEHICULO SEMINUEVO .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/g2u.jpg" alt="Asesoramiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EEXTIENDE CUATRO MESES  TU GARANTIA TOTAL SOBRE TU VEHICULO SEMINUEVO  .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
          <div class="card">
            <img src="/g3u.webp" alt="Financiamiento CUPRA" class="card-img">
            <div class="card-body">
              <p class="card-text">EXTIENDE SEIS MESES  TU GARANTIA TOTAL SOBRE TU VEHICULO SEMINUEVO .</p>
              <a href="#" routerLink="/atencion" class="card-btn">CONTACTAR ASESOR</a>
            </div>
          </div>
        </div>
      </div>
</div>